body{
	font-family: Arial;
}
a{
	text-decoration: none;
}
.button {
	display: inline-block;
	padding:1em 2em;
	font-size: 1em;
	font-weight:bold;
	color:#6B63CF;
	border:3px solid #6B63CF;
	transition:background .5s ease-out;
}
.button:link{
	text-decoration: none;
}
.button:hover{
	color:white;
	background:#6B63CF;
}
.button-sm{
	font-size:.7em;
}
.button-md{

}
.button-lg{
	font-size:1.3em;
}